nextflow:
  k8s:
    runAsUser: 9999
    namespace: "default"
    serviceAccount: "default"
    volMounts:
      - "task-pv-claim:/mnt/data"
    masterUrl: "localhost:8080"
    trustCertificate: false
  weblogUrl: "http://localhost"
  monitor:
    sleepInterval: 1000 # milliseconds
    maxErrorLogLines: 50 # we put the last ${maxErrorLogLines} into the error message if a Pod fails

secret:
  enabled: false

---
spring.profiles: secure
auth:
  jwtPublicKeyUrl: ""
  jwtPublicKeyStr: "-----BEGIN PUBLIC KEY-----\nSET ME IF YOU DONT HAVE A URL, BUT URL TAKES PRIORITY\n-----END PUBLIC KEY-----"
  graphqlScopes:
    queryOnly:
      - RDPC-CA.READ
    queryAndMutation:
      - RDPC-CA.WRITE

---
spring.profiles: apiKey

secret:
  enabled: true
  apiKey: testapikeytotallylegit

---
spring.profile: oauth2Token

secret:
  enabled: true
  clientId: testId
  clientSecret: testSecret
  tokenUri: http://localhost:8080/oauth/token
